---
---

@import "palettes";
@import "theme";
@import "mixins";

* {
  box-sizing: border-box;
}
.first-word-uppercase-p::first-letter {
  font-size: 40px;
  color: #e80222;
  font-weight: bold;
  line-height: .75;
}
